html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 1250px;
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
 } 


.page-header {
  width: 80%;
  display: grid;
  grid-template-columns: .1fr 2fr 2.9fr 1.4fr;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-left: 5px;
  padding: 0px;
}

.header-title h1 {
  font-size: 1.5em;
  text-align: left;
}

.header-title h3 {
  font-size: .8em; 
}

.header-title h1, .header-title h3 {
margin: 0px;
}

.nav-buttons img {
  margin-left: 2px;
}

.pizza-header {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 2.4fr .1fr;
}

.pizza-image {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
}

.pizza-image img {
  width: 100%;
  height: auto;
}

.recipe-container {
  width: 80%;

}

.recipe-container p {
  width: 100%;
  text-align: c;

}