html, body {
  width: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.page-header {
  width: 80%;
  display: grid;
  grid-template-columns: .1fr 2fr 2.5fr 2fr;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-left: 5px;
  padding: 0px;
}

.header-title h1 {
  font-size: 1.5em;
  text-align: left;
}

.header-title h3 {
  font-size: .8em; 
}

.header-title h1, .header-title h3 {
margin: 0px;
}

.nav-buttons img {
  margin-left: 2px;
}

.pizza-header {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 2fr .1fr;
}